set (autostart true)
set (preconditions Platform)
set (callsign "org.rdk.RDKMediaEngine")

map()
    key(root)
    map()
      kv(threads 2)
      kv(outofprocess true)
    end()
    kv(decoders ${PLUGIN_RDKMEDIAENGINE_DECODERS})
end()
ans(configuration)

# Already an array
# Not supported for now
#foreach(IMPL ${PLUGIN_RDKMEDIAENGINE_IMPLEMENTATIONS})
#  if(${IMPL} STREQUAL Aamp)
#    map()
#      kv(frontends ${PLUGIN_RDKMEDIAENGINE_AAMP_FRONTENDS})
#      if(PLUGIN_RDKMEDIAENGINE_AAMP_WESTEROSSINK)
#          kv(westerossink true)
#      endif(PLUGIN_RDKMEDIAENGINE_AAMP_WESTEROSSINK)
#    end()
#    ans(config)
#    map_append(${configuration} ${IMPL} ${config})
#  endif()
#endforeach(IMPL ${PLUGIN_RDKMEDIAENGINE_IMPLEMENTATIONS})
